
{% if app.session.hasFlash( 'gitlab_notice' ) %}
    <div class="gitlab_notice">
        {{ app.session.flash( 'gitlab_notice' ) }}
    </div>
{% endif %}

{% render 'CiscoSystemsGitlabBundle:Access:select' %}

<form id="gitlab_issue_form" action="" method="post">

    {{ form_widget( form ) }}

    <input type="submit" value="save" />

</form>

<script type="text/javascript">
    var selectProject = document.getElementById( 'gitlab_project_selector' );
    presetProjectFieldInIssueForm( selectProject.value );
    if ( selectProject.children.length > 1 )
    {
        selectProject.onchange = projectSwitched;
    }
    else if ( selectProject.children.length < 1 )
    {
        document.getElementById( 'gitlab_issue_form' ).style.display = 'none';
    }
    var selectAccess = document.getElementById( 'gitlab_access_selector' );
    presetAccessFieldInIssueForm( selectAccess.value );
    //
    function projectSwitched( evt )
    {
        var select = evt.target;
        presetProjectFieldInIssueForm( select.value );
    }
    function presetAccessFieldInIssueForm( accessId )
    {
        document.getElementById( 'gitlabissue_access_id' ).value = accessId;
    }
    function presetProjectFieldInIssueForm( projectId )
    {
        document.getElementById( 'gitlabissue_projectId' ).value = projectId;
    }
</script>
